tensorflow
nltk==3.5
keras
numpy
seaborn==0.11.1
tweepy
textblob==0.15.3
flask
pandas
newsapi-python==0.2.6  
matplotlib
scikit_learn
statsmodels
yfinance
alpha_vantage==2.3.1
gunicorn
vaderSentiment
Werkzeug==2.2.2
